.menu-holder{
  .list-holder{
    width:300px;
    margin: auto;
    ul{
      font-size: 22px;
      li{
        font-weight: bold;
        a{
          text-decoration-line: none;
        }
      }
    }
  }
}